<%= link_to root_path do %>
<div class="text-center">
    <h2>About</h2>
</div>
<div class="text-center m-3">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi maiores ipsum tenetur illo, molestias magnam dolorum nobis quod quibusdam inventore voluptates assumenda repellat nihil mollitia odit praesentium vitae ea unde!
    Mollitia earum rerum, quam est dolores. Amet corrupti illum exercitationem dolorum molestiae quae ad neque recusandae minus eius.
    Iusto at ad pariatur explicabo modi alias nostrum a dicta voluptate accusantium repellendus, tenetur, quae Voluptatem corrupti distinctio odio repudiandae optio. Illo, et! Magni beatae adipisci obcaecati ad eveniet.</p>
</div>
<% end %>